* {
  margin: 0;
  padding: 0;
}

/* typography */

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}

main{
    max-width: 1440px;
    margin: 0px auto;
    background-color: rgb(245, 248, 255, 100%);
}